:root {
    --main-color: #222124;
    --secondary-color: #0d0c0e;
    --tert-color: #706f75;
    --common-color: #2986cc;
    --rare-color: #c90076;
}

body {
    background-color: var(--secondary-color);
    margin: 0;
    padding: 0;
}